.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.973145;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.973145;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.375000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._6{margin-left:-1.766107px;}
._0{width:10.557371px;}
._4{width:11.807900px;}
._1{width:13.052913px;}
._5{width:28.792086px;}
._3{width:29.998046px;}
._2{width:36.013671px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:44.000001px;}
.fs1{font-size:52.000002px;}
.fs2{font-size:104.000004px;}
.y0{bottom:0.000000px;}
.y18{bottom:119.770389px;}
.y17{bottom:141.330684px;}
.y3d{bottom:141.410154px;}
.y15{bottom:154.525269px;}
.y3c{bottom:162.971185px;}
.y14{bottom:176.085204px;}
.y13{bottom:197.645319px;}
.y3b{bottom:203.699703px;}
.y26{bottom:208.540284px;}
.y12{bottom:219.205074px;}
.y25{bottom:230.100579px;}
.y11{bottom:240.765009px;}
.y3a{bottom:249.010254px;}
.y24{bottom:251.660155px;}
.y41{bottom:259.270014px;}
.y36{bottom:263.415534px;}
.y45{bottom:265.715334px;}
.y39{bottom:270.569829px;}
.y10{bottom:280.325139px;}
.y35{bottom:284.975094px;}
.y44{bottom:287.274909px;}
.y38{bottom:292.129389px;}
.y23{bottom:292.389408px;}
.y34{bottom:306.534669px;}
.y43{bottom:308.834470px;}
.yb{bottom:311.359308px;}
.y37{bottom:313.690434px;}
.yf{bottom:319.885074px;}
.y33{bottom:328.094965px;}
.ye{bottom:341.445009px;}
.y42{bottom:349.564458px;}
.y32{bottom:368.824218px;}
.y22{bottom:377.260254px;}
.y21{bottom:398.819829px;}
.y31{bottom:404.444829px;}
.y4b{bottom:419.085939px;}
.y30{bottom:426.004389px;}
.y20{bottom:438.380124px;}
.y1e{bottom:439.320189px;}
.y4a{bottom:440.645514px;}
.y2f{bottom:447.565434px;}
.y1b{bottom:451.325319px;}
.y1f{bottom:459.939699px;}
.y1d{bottom:460.880124px;}
.y49{bottom:462.205074px;}
.y1c{bottom:482.439699px;}
.y48{bottom:483.766119px;}
.y1a{bottom:490.885254px;}
.y2e{bottom:499.515384px;}
.y47{bottom:505.325679px;}
.y19{bottom:512.445189px;}
.y2d{bottom:521.074944px;}
.y46{bottom:526.885254px;}
.y29{bottom:533.635254px;}
.y2c{bottom:542.635254px;}
.y28{bottom:555.194829px;}
.y27{bottom:576.755124px;}
.y16{bottom:621.570189px;}
.y4d{bottom:660.944829px;}
.y40{bottom:686.635254px;}
.y3f{bottom:708.194829px;}
.y54{bottom:733.979004px;}
.y4c{bottom:740.065434px;}
.y53{bottom:785.551764px;}
.ya{bottom:791.909859px;}
.y9{bottom:813.469854px;}
.y8{bottom:835.029804px;}
.y52{bottom:837.125979px;}
.y7{bottom:856.589770px;}
.y51{bottom:888.700194px;}
.y6{bottom:897.318783px;}
.y50{bottom:940.272951px;}
.y5{bottom:942.629745px;}
.y4{bottom:964.189728px;}
.y3{bottom:985.749687px;}
.y4f{bottom:991.844239px;}
.y2b{bottom:1003.749756px;}
.y2{bottom:1007.309670px;}
.y2a{bottom:1025.309326px;}
.yd{bottom:1043.309692px;}
.y3e{bottom:1043.310058px;}
.y4e{bottom:1043.418459px;}
.y1{bottom:1046.869629px;}
.yc{bottom:1064.869629px;}
.h1{height:33.279298px;}
.h2{height:39.330080px;}
.h4{height:74.445315px;}
.h3{height:75.714847px;}
.h0{height:1188.000000px;}
.w0{width:918.000000px;}
.x0{left:0.000000px;}
.x1{left:108.000000px;}
.x6{left:111.977154px;}
.x2{left:131.734186px;}
.x4{left:135.000000px;}
.x5{left:162.000000px;}
.x3{left:289.504011px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._6{margin-left:-1.569873pt;}
._0{width:9.384330pt;}
._4{width:10.495911pt;}
._1{width:11.602589pt;}
._5{width:25.592965pt;}
._3{width:26.664930pt;}
._2{width:32.012152pt;}
.fs0{font-size:39.111112pt;}
.fs1{font-size:46.222224pt;}
.fs2{font-size:92.444448pt;}
.y0{bottom:0.000000pt;}
.y18{bottom:106.462568pt;}
.y17{bottom:125.627275pt;}
.y3d{bottom:125.697915pt;}
.y15{bottom:137.355795pt;}
.y3c{bottom:144.863275pt;}
.y14{bottom:156.520181pt;}
.y13{bottom:175.684728pt;}
.y3b{bottom:181.066403pt;}
.y26{bottom:185.369141pt;}
.y12{bottom:194.848955pt;}
.y25{bottom:204.533848pt;}
.y11{bottom:214.013341pt;}
.y3a{bottom:221.342448pt;}
.y24{bottom:223.697915pt;}
.y41{bottom:230.462235pt;}
.y36{bottom:234.147141pt;}
.y45{bottom:236.191408pt;}
.y39{bottom:240.506515pt;}
.y10{bottom:249.177901pt;}
.y35{bottom:253.311195pt;}
.y44{bottom:255.355475pt;}
.y38{bottom:259.670568pt;}
.y23{bottom:259.901696pt;}
.y34{bottom:272.475261pt;}
.y43{bottom:274.519529pt;}
.yb{bottom:276.763829pt;}
.y37{bottom:278.835941pt;}
.yf{bottom:284.342288pt;}
.y33{bottom:291.639969pt;}
.ye{bottom:303.506675pt;}
.y42{bottom:310.723963pt;}
.y32{bottom:327.843749pt;}
.y22{bottom:335.342448pt;}
.y21{bottom:354.506515pt;}
.y31{bottom:359.506515pt;}
.y4b{bottom:372.520835pt;}
.y30{bottom:378.670568pt;}
.y20{bottom:389.671221pt;}
.y1e{bottom:390.506835pt;}
.y4a{bottom:391.684901pt;}
.y2f{bottom:397.835941pt;}
.y1b{bottom:401.178061pt;}
.y1f{bottom:408.835288pt;}
.y1d{bottom:409.671221pt;}
.y49{bottom:410.848955pt;}
.y1c{bottom:428.835288pt;}
.y48{bottom:430.014328pt;}
.y1a{bottom:436.342448pt;}
.y2e{bottom:444.013675pt;}
.y47{bottom:449.178381pt;}
.y19{bottom:455.506835pt;}
.y2d{bottom:463.177728pt;}
.y46{bottom:468.342448pt;}
.y29{bottom:474.342448pt;}
.y2c{bottom:482.342448pt;}
.y28{bottom:493.506515pt;}
.y27{bottom:512.671221pt;}
.y16{bottom:552.506835pt;}
.y4d{bottom:587.506515pt;}
.y40{bottom:610.342448pt;}
.y3f{bottom:629.506515pt;}
.y54{bottom:652.425781pt;}
.y4c{bottom:657.835941pt;}
.y53{bottom:698.268235pt;}
.ya{bottom:703.919875pt;}
.y9{bottom:723.084315pt;}
.y8{bottom:742.248715pt;}
.y52{bottom:744.111981pt;}
.y7{bottom:761.413129pt;}
.y51{bottom:789.955728pt;}
.y6{bottom:797.616696pt;}
.y50{bottom:835.798179pt;}
.y5{bottom:837.893107pt;}
.y4{bottom:857.057536pt;}
.y3{bottom:876.221944pt;}
.y4f{bottom:881.639324pt;}
.y2b{bottom:892.222005pt;}
.y2{bottom:895.386373pt;}
.y2a{bottom:911.386068pt;}
.yd{bottom:927.386393pt;}
.y3e{bottom:927.386719pt;}
.y4e{bottom:927.483075pt;}
.y1{bottom:930.550781pt;}
.yc{bottom:946.550781pt;}
.h1{height:29.581598pt;}
.h2{height:34.960071pt;}
.h4{height:66.173614pt;}
.h3{height:67.302086pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:96.000000pt;}
.x6{left:99.535248pt;}
.x2{left:117.097054pt;}
.x4{left:120.000000pt;}
.x5{left:144.000000pt;}
.x3{left:257.336899pt;}
}
